div.main_box {
	padding-top: 50px;
}

span.bet_price {
	font-size: 18px;
    line-height: 27px;
    font-weight: bold;
}

div.place-bet-btn {
	vertical-align: middle;
}

div.my-widget thead {
	background-color: #CCCCCC;
}

div.my-widget th {
	text-align: center;
}

