div.main_box {
	padding-top: 50px;
}

span.bet_price {
	font-size: 18px;
    line-height: 27px;
    font-weight: bold;
}

div.place-bet-btn {
	vertical-align: middle;
}

div.my-widget thead {
	background-color: #CCCCCC;
}

div.my-widget th {
	text-align: center;
}

#myModal {
	border:5px solid #666666;
}

#add_cash:hover {
	background:#006DCC;
}

.bet_slip_container {
	border-radius: 5px;
	border: 2px solid #CCCCCC;
	background-color: #CCCCCC;
	height:250px;
	overflow:auto;
	margin-bottom:10px;
}

.bet_slip_label {
	text-align:center;
	margin-bottom:10px;
	font-weight:bold;
}
