.ModuleColumn
{
  float:left;
}

.Column440
{
  width: 440px;
}

.Column298
{
  width: 298px;
}

.Column220
{
  width: 220px;
}

.TopMargin
{
  margin-top: 10px;
}

.Module
{
  background-image: url(/static/images/container_bg1.gif);
  background-position: bottom left;
  background-repeat: repeat-x;
  font-family:Tahoma; 
  font-size:70%; 
  color:#000;
  margin-right: 10px;
  margin-bottom: 10px;
  clear:both;
}

.Column298 .Module
{
  margin-right: 0px;
}

.Module210
{
  width:400px;  
}

.Module300
{
  width:300px;  
}

.ModuleHeader {
	border:1px solid #ffffff;
	border-width:1px;
}

.ModuleHeaderSimple {
	border:1px solid #ffffff;
	border-width:1px;
}

.GrayHeader {
	background:url(/static/images/container_header_bg1.gif) repeat-x left 0px;
	background-color:#BEBEBE;
	border:1px solid #9D9D9D;
}

.OrangeHeader {
	background:url(/static/images/container_header_bg2.gif) repeat-x left 0px;
	background-color:#BEBEBE;
	border:1px solid #E96F22;
}

.GreenHeader {
	background:url(/static/images/container_header_bg3.gif) repeat-x left 0px;
	background-color:#BEBEBE;
	border:1px solid #80BA23;
}

.ModuleHeader .ModuleHeaderWrapper, .ModuleHeaderSimple .ModuleHeaderWrapper {
	height:18px;
	font-size: 11px;
}

.ModuleHeaderSimple .ModuleHeaderSimpleContent {
	color:#ffffff;
	font-weight:bold;
	float:left;
	position:relative;
	padding-left: 5px;
	padding-top: 3px;
}

.ModuleHeader .ModuleHeaderContent {
	color:#ffffff;
	font-weight:bold;
	float:left;
	position:relative;
	padding:3px 47px 0 5px;
}

.ModuleHeader .ModuleHeaderContent .ModuleHeaderLogo {
	position:absolute;
	width:39px;
	height:27px;
	right:0px;
	bottom:-2px;
	_bottom:-3px;
	text-align:left;
}

.ModuleHeader .ModuleHeaderContent .ModuleHeaderLogo img {
	position:absolute;
	bottom:0;
	left:0;
}

.ModuleHeaderSubtitle
{
  float: right;
  color:#ffffff;
	font-weight:bold;
	padding-right:5px;
	padding-top:3px;
}

.ModuleContent
{
  border-left:1px solid #e3e3e3;
  border-bottom:1px solid #e3e3e3;
  border-right:1px solid #e3e3e3;
  clear:both;
}

div.ModuleContent
{
  border-top:1px solid #e3e3e3;
}

table.ModuleContent
{
  margin-left: 1px;
}

.ModuleTitle, .ModuleSubTitle
{
  color: #FFF;
  height: 18px;
}

.ModuleTitle
{
  font-weight: bold;
  padding-left:8px;
  text-align:left;
}

.ModuleSubTitle
{
  padding-right: 8px;
  text-align:right;
}

.ModulePositionCell
{
  text-align:left;  
  padding-left:10px;
  padding-top:6px;
  padding-right: 1px;
  height: 11px;
  vertical-align:top;
  width: 16px;
}

.ModuleTitleCell, .ModuleTitleCellNoPop
{
  text-align:left;
  padding-top:6px;
  height: 11px;
  vertical-align:top;
  width: 320px;
}

.ModuleTitleCellNoPop
{
	width: 186px;
}

.ModulePopCell
{
  text-align:right;
  padding-right:10px;
  padding-top:6px;
  height: 11px;
  vertical-align:top;
  width: 41px;
  white-space: nowrap;
}

.GenreListFooterCell
{
  text-align:right;
  padding-right:10px;
  padding-left:10px;
  padding-top: 15px;
  vertical-align:middle;
  padding-bottom:10px;
}

.PopulationListFooterCell
{
  text-align:center;
  padding-right:10px;
  padding-left:10px;
  vertical-align:middle;
  height:18px;
}

.PopulationListFooterCell a
{
  display: block;
  border: 1px solid #9d9d9d;
  background-color: #cecece;
  height: 18px;
  width: 100%;
  color: #000;
  text-decoration:none;
  vertical-align: middle;
  line-height:17px;
  margin-bottom: 9px;
  margin-top: 7px;
}

.NewGamesItemBox
{
  border:1px solid #e3e3e3;
  clear:both;
  width:298px;
  padding-top:10px;
  padding-bottom:10px;
}

.NewGamesItemBoxInner
{
  margin:0px;
  padding-left:7px;
  padding-right:6px;
}
  

.NewGamesItemBoxFooter
{
  clear:both;
  text-align:right;
  padding-right:4px;
}

.NewGamesItem
{
  float:left;
  width:95px;
  text-align:center;
}

.PromoBadgeModuleImageContainer
{
	float:left;
	margin-left: 11px;
	margin-right: 10px;
}

.ModuleImage
{
	border-style: none;
}

.PromoBadgeModuleBadgeItem
{
	float:left;
	padding-top:19px;
}

.PromoBadgeModuleBadgeItemText
{
  width: 206px;
}

.PromoBadgeModuleBadgeItemText div
{
  padding-left: 10px;
  padding-right: 10px;
}

.PromoBadgeModuleAboutBadgesLink
{
  padding-right: 10px;
  text-align:right;
	clear:both;
	padding-bottom:11px;
	padding-top:11px
}

.PromoBadgeModuleBadgeName
{
	font-weight:bold
}

.DailyFunItemBox, .QuickFixItemBox
{
  border:1px solid #E3E3E3;
  clear:both;
  width:298px;
  padding-top:10px;
  padding-bottom:1px;
}

.QuickFixItemBox
{
    padding-top:0px;
}

.DailyFunItemBoxInner
{
  margin:0px;
  padding-left:7px;
}

  
.DailyFunItem
{
  float:left;
  width:144px;
  margin-bottom:10px;
}

.DailyFunItemText
{
  text-align:left;
  padding-left:6px;
  font-weight:bold;
  width:113px;
  word-wrap:break-word;
  float:left;
}

.DailyFunItemImage
{
	height:20px;
	width:20px;
	vertical-align:middle;
	float:left;
	border-style: none;
}

.ModuleMarketing 
{
	padding-bottom:10px;
}

.QuickFixModuleItem
{
	float:left;
	padding-top:9px;
	padding-bottom:10px;
}

.QuickFixModuleImageContainer
{
	float:left;
	margin-left: 11px;
	margin-right: 10px;
}

.QuickFixModuleItemText
{
	width: 296px;
}

.QuickFixModuleItemText div
{
    padding-right:10px;
}

.QuickFixModuleGameName
{
	font-weight:bold
}