<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{app_id}}', // App ID
      channelUrl : 'https://iplbetter.appspot.com/channel', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
    });
    
    var uid, access_token;
    
    FB.getLoginStatus(function(response) {
  		if (response.status === 'connected') {
		    loggedIn(response);
	  } else {
			top.location = encodeURI("https://www.facebook.com/dialog/oauth?client_id={{app_id}}&redirect_uri={{app_uri}}&response_type=token");
	  }
	});
	  
	function loggedIn(response) {
	 	var uid = response.authResponse.userID;
	    access_token= response.authResponse.accessToken;
	    FB.api('/me', function(response) {
	    	  alert(JSON.stringify(response));
		      $("#betting_root").html("Hi " + response.name + " " + String(access_token));
		      $("#profile_pic").prepend('<img id="theImg" src="https://graph.facebook.com/'+response.username+'/picture" />');
		 });
	}
 };
 
  

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>

<div id="betting_root"></div>
<div id="profile_pic"></div>
</body>
</html>