<div class="modal-body" style="padding:3px; position:absolute;"> 
<div id="closeButton" style="float:right; margin-top:-5px;margin-left:5px;">  <a class="close" data-dismiss="modal">x</a> </div> 
<div id="bets_list" class="bets_list" style="width:450px; background: url(http://taat.pl/grid/10x10_fff1d3d3.gif);float:left;">		
		<div class="item">
			<div class="Module Module210" id="Module_MyGames" style="width:200px;font-size:100%;">
				<div class="ModuleHeaderSimple GrayHeader">
					<div class="ModuleHeaderWrapper">
						<div class="ModuleHeaderSimpleContent">To Win the Match</div>							
					</div>
				</div>
				<div id="MyGamesContents">
					<table class="ModuleContent" id="TopGamesInfo_Top10_Table">      
					<tbody>
						<tr>
						  <td class="ModulePositionCell">1.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="">India</a></td>
						  <td class="ModulePopCell"><a id='betid1' class="btn btn-info" style="text-align:right;" href="javascript:void(0);" 
						  onclick="appendBet('India', '10/6', this)">10/6</a></td>
						</tr>						  
						<tr>
						  <td class="ModulePositionCell">2.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">SriLanka</a></td>
						  <td class="ModulePopCell"><a id='betid2' class="btn btn-info" style="text-align:right;"href="javascript:void(0);" 
						  onclick="appendBet('Srilanka', '1/6', this)">1/6</a></td>
						</tr>						
					</tbody>
					</table>
				</div>
			</div>			
		</div>
		
		<div class="item">
			<div class="Module Module210" id="Module_MyGames" style="width:200px;font-size:100%;">
				<div class="ModuleHeaderSimple GreenHeader">
					<div class="ModuleHeaderWrapper">
						<div class="ModuleHeaderSimpleContent">To Win the Toss</div>							
					</div>
				</div>
				<div id="MyGamesContents">
					<table class="ModuleContent" id="TopGamesInfo_Top10_Table">      
					<tbody>
						<tr>
						  <td class="ModulePositionCell">1.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">India</a></td>
						  <td class="ModulePopCell"><a id='betid3' class="btn btn-primary" style="text-align:right;"href="javascript:void(0);" 
						  onclick="appendBet('India', '10/6', this)">10/6</a></td>
						</tr>						  
						<tr>
						  <td class="ModulePositionCell">2.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">SriLanka</a></td>
						  <td class="ModulePopCell"><a id='betid4' class="btn btn-primary" style="text-align:right;"href="">1/6</a></td>
						</tr>						
					</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<div class="item">
			<div class="Module Module210" id="Module_MyGames" style="width:200px;font-size:100%;">
				<div class="ModuleHeaderSimple GrayHeader">
					<div class="ModuleHeaderWrapper">
						<div class="ModuleHeaderSimpleContent">Top Team Batsman</div>							
					</div>
				</div>
				<div id="MyGamesContents">
					<table class="ModuleContent" id="TopGamesInfo_Top10_Table">      
					<tbody>
						<tr>
						  <td class="ModulePositionCell">1.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">Sachin Tendulkar</a></td>
						  <td class="ModulePopCell"><a class="btn btn-primary" style="text-align:right;"href="">10/6</a></td>
						</tr>						  
						<tr>
						  <td class="ModulePositionCell">2.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">Sehwag</a></td>
						  <td class="ModulePopCell"><a class="btn btn-primary" style="text-align:right;"href="">1/6</a></td>
						</tr>
						<tr>
						  <td class="ModulePositionCell">3.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">Sachin Tendulkar</a></td>
						  <td class="ModulePopCell"><a class="btn btn-primary" style="text-align:right;"href="">10/6</a></td>
						</tr>						  
						<tr>
						  <td class="ModulePositionCell">4.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">Sehwag</a></td>
						  <td class="ModulePopCell"><a class="btn btn-primary" style="text-align:right;"href="">1/6</a></td>
						</tr>
						<tr>
						  <td class="ModulePositionCell">5.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">Sachin Tendulkar</a></td>
						  <td class="ModulePopCell"><a class="btn btn-primary" style="text-align:right;"href="">10/6</a></td>
						</tr>						  
						<tr>
						  <td class="ModulePositionCell">6.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">Sehwag</a></td>
						  <td class="ModulePopCell"><a class="btn btn-primary" style="text-align:right;"href="">1/6</a></td>
						</tr>
						<tr>
						  <td class="ModulePositionCell">1.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">Sachin Tendulkar</a></td>
						  <td class="ModulePopCell"><a class="btn btn-primary" style="text-align:right;"href="">10/6</a></td>
						</tr>						  
						<tr>
						  <td class="ModulePositionCell">2.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">Sehwag</a></td>
						  <td class="ModulePopCell"><a class="btn btn-primary" style="text-align:right;"href="">1/6</a></td>
						</tr>
						<tr>
						  <td class="ModulePositionCell">3.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">Sachin Tendulkar</a></td>
						  <td class="ModulePopCell"><a class="btn btn-primary" style="text-align:right;"href="">10/6</a></td>
						</tr>						  
						<tr>
						  <td class="ModulePositionCell">4.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">Sehwag</a></td>
						  <td class="ModulePopCell"><a class="btn btn-primary" style="text-align:right;"href="">1/6</a></td>
						</tr>
						<tr>
						  <td class="ModulePositionCell">5.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">Sachin Tendulkar</a></td>
						  <td class="ModulePopCell"><a class="btn btn-primary" style="text-align:right;"href="">10/6</a></td>
						</tr>						  
						<tr>
						  <td class="ModulePositionCell">6.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">Sehwag</a></td>
						  <td class="ModulePopCell"><a class="btn btn-primary" style="text-align:right;"href="">1/6</a></td>
						</tr>
					</tbody>
					</table>
				</div>
			</div>	
		</div>
		
		<div class="item">
			<div class="Module Module210" id="Module_MyGames" style="width:200px;font-size:100%;">
				<div class="ModuleHeaderSimple GreenHeader">
					<div class="ModuleHeaderWrapper">
						<div class="ModuleHeaderSimpleContent">Highest Opening Partnership</div>							
					</div>
				</div>
				<div id="MyGamesContents">
					<table class="ModuleContent" id="TopGamesInfo_Top10_Table">      
					<tbody>
						<tr>
						  <td class="ModulePositionCell">1.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">India</a></td>
						  <td class="ModulePopCell"><a class="btn btn-info" style="text-align:right;"href="">10/6</a></td>
						</tr>						  
						<tr>
						  <td class="ModulePositionCell">2.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">SriLanka</a></td>
						  <td class="ModulePopCell"><a class="btn btn-info" style="text-align:right;"href="">1/6</a></td>
						</tr>						
					</tbody>
					</table>
				</div>
			</div>
		</div>
		
		
		
		<div class="item">
			<div class="Module Module210" id="Module_MyGames" style="width:200px;font-size:100%;">
				<div class="ModuleHeaderSimple GreenHeader">
					<div class="ModuleHeaderWrapper">
						<div class="ModuleHeaderSimpleContent">Most Matech Sixes</div>							
					</div>
				</div>
				<div id="MyGamesContents">
					<table class="ModuleContent" id="TopGamesInfo_Top10_Table">      
					<tbody>
						<tr>
						  <td class="ModulePositionCell">1.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">India</a></td>
						  <td class="ModulePopCell"><a class="btn btn-info" style="text-align:right;"href="">10/6</a></td>
						</tr>						  
						<tr>
						  <td class="ModulePositionCell">2.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">SriLanka</a></td>
						  <td class="ModulePopCell"><a class="btn btn-info" style="text-align:right;"href="">1/6</a></td>
						</tr>						
					</tbody>
					</table>
				</div>
			</div>
		</div>	
		
		<div class="item">
			<div class="Module Module210" id="Module_MyGames" style="width:200px;font-size:100%;">
				<div class="ModuleHeaderSimple GreenHeader">
					<div class="ModuleHeaderWrapper">
						<div class="ModuleHeaderSimpleContent">Highest 1st 6overs Score</div>							
					</div>
				</div>
				<div id="MyGamesContents">
					<table class="ModuleContent" id="TopGamesInfo_Top10_Table">      
					<tbody>
						<tr>
						  <td class="ModulePositionCell">1.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">India</a></td>
						  <td class="ModulePopCell"><a class="btn btn-info" style="text-align:right;"href="">10/6</a></td>
						</tr>						  
						<tr>
						  <td class="ModulePositionCell">2.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">SriLanka</a></td>
						  <td class="ModulePopCell"><a class="btn btn-info" style="text-align:right;"href="">1/6</a></td>
						</tr>						
					</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</div>
<div id="bet_slip_container" style="width:200px;float:right;padding:3px;margin-right:0px;margin-top:20px;overflow:auto;" class='well'>
	<div style="margin-bottom:3px;"><h6 style='font-color:#FFFFFF;'>Betslip</h6></div>
</div>
<a id='placebet' style='float:right;' class='btn btn-info'>PlaceBet</a>
</div>
<script>
$("#placebet").click(function() {
	            alert("placebt click");
			    var betArr = [];
				$('#bet_slip_container').children().each(function(index) {
					if(index!=0) {
					 if($(this).text() != "PlaceBet") {
					   // alert('not placebet');
						//alert($($(this).children().get(2)).text());
						stakeVal = $($($(this).children().get(4)).children().get(0)).val();
						//alert(stakeVal);
						//alert($(this).attr('id'));
						if(stakeVal != 0) {
							betArr.push({'betId':$(this).attr('id'), 'stake':stakeVal});
						}
					//alert(index + ': ' + $($($(this).next()).next()).text());});
				}}});
				alert(betArr.length);
				if(betArr.length > 0) {
					//do ajax post toserver with fuid and betArr
					showMessage("Bets Placed successfully", 'blue');
				}
		});
</script>