<div class="modal-body"> 
<div id="closeButton" style="float:right; margin-top:-5px;margin-left:5px;">  <a class="close" data-dismiss="modal">x</a> </div> 
	<div id="bets_list" class="span6">		
			<div class="item">			
			
			<table id="recent_bets" class='table table-condensed table-bordered'>
			  <thead style="background-color:#EEEEEE;">
					<tr><th style="text-align:center;" colspan="3">To Win the Match</th></tr>
			  </thead>
			  <tbody>
				<tr>
				  <td>1.</td>
				  <td><a class="LnkType1" href="">India</a></td>
				  <td><a id='betid1' class="btn btn-info" style="text-align:right;" href="javascript:void(0);" 
				  	onclick="appendBet('India', '10/6', this)">10/6</a></td>
				</tr>
				
				<tr>
				  <td class="">2.</td>
				  <td class=""><a class="" href="">SriLanka</a></td>
				  <td class=""><a id='betid2' class="btn btn-info" style="text-align:right;"href="javascript:void(0);" 
				  onclick="appendBet('Srilanka', '1/6', this)">1/6</a></td>
				</tr>
			  </tbody>		  
			</table>
			
			</div>		
			
	</div>		
	
	<div id="bet_slip_container" class="span3">
		<div style="margin-bottom:3px;"><h6 style='font-color:#FFFFFF;'>Betslip</h6></div>
	</div>
	<a id='placebet' style='float:right;' class='btn btn-info'>PlaceBet</a>
</div>
<script>
$("#placebet").click(function() {
	            alert("placebt click");
			    var betArr = [];
				$('#bet_slip_container').children().each(function(index) {
					if(index!=0) {
					 if($(this).text() != "PlaceBet") {
					   // alert('not placebet');
						//alert($($(this).children().get(2)).text());
						stakeVal = $($($(this).children().get(4)).children().get(0)).val();
						//alert(stakeVal);
						//alert($(this).attr('id'));
						if(stakeVal != 0) {
							betArr.push({'betId':$(this).attr('id'), 'stake':stakeVal});
						}
					//alert(index + ': ' + $($($(this).next()).next()).text());});
				}}});
				alert(betArr.length);
				if(betArr.length > 0) {
					//do ajax post toserver with fuid and betArr
					showMessage("Bets Placed successfully", 'blue');
				}
		});
</script>