<div class="row-fluid">
	<div id="left_side" class="span6" >	
		<table id="recent_bets" class='table table-condensed table-bordered'>
		  <thead style="background-color:#EEEEEE;">
				<tr><th style="text-align:center;" colspan="3">Recent Bets</th></tr>
		  </thead>
		  <tbody>
			<tr>
			  <td class="">Apr 20,2012</td>
			  <td class=""><a class="" href="">Highest Opening Partnership@MI on MI v CSK match</a></td>
			  <td class="">20(won)</td>
			</tr>
			<tr>
			  <td class="">Apr 20,2012</td>
			  <td class=""><a class="" href="">Highest Opening Partnership@MI on MI v CSK match</a></td>
			  <td class="">20(won)</td>
			</tr>
			<tr>
			  <td class="">Apr 20,2012</td>
			  <td class=""><a class="" href="">Highest Opening Partnership@MI on MI v CSK match</a></td>
			  <td class="">20(won)</td>
			</tr>
		  </tbody>
		  
		</table>
		
		<table id="Leaderboard" class='table table-condensed table-bordered'>
		  <thead style="background-color:#EEEEEE;">
				<tr><th style="text-align:center;" colspan="3">Leader Board</th></tr>
		  </thead>
		  <tbody>
			<tr>
			  <td class="">Apr 20,2012</td>
			  <td class=""><a class="" href="">Highest Opening Partnership@MI on MI v CSK match</a></td>
			  <td class="">20(won)</td>
			</tr>
			<tr>
			  <td class="">Apr 20,2012</td>
			  <td class=""><a class="" href="">Highest Opening Partnership@MI on MI v CSK match</a></td>
			  <td class="">20(won)</td>
			</tr>
			<tr>
			  <td class="">Apr 20,2012</td>
			  <td class=""><a class="" href="">Highest Opening Partnership@MI on MI v CSK match</a></td>
			  <td class="">20(won)</td>
			</tr>
		  </tbody></table>
	</div>
	<div id="right_side" class="span6">
		<table id="recent_bets" class='table table-condensed table-bordered'>
		  <thead style="background-color:#EEEEEE;">
				<tr><th style="text-align:center;" colspan="3">Live Matches</th></tr>
		  </thead>
		  <tbody>
			<tr>
			  <td class=""><a class="" href="">MI Vs CSK</a></td>
			  <td class="">20(won)</td>
			</tr>		
		  </tbody>
		</table>
	</div>	
</div>