{% load betting_extras %}
<div class="row">
	<div id="left_side" class="span6" >
		<div class="row-fluid"><div class="span12 my-widget">
		<table id="recent_bets" class='table table-condensed table-bordered'>
		  <thead>
				<tr><th colspan="2">Recent Bets</th></tr>
		  </thead>
		  <tbody>
		  {% for bet in user_bets %}
			<tr>
			  <td class="">{{bet.bet_name}}: {{bet.bet_value_name}}<br>{{bet.match_name}} on {{bet.date}}</td>
			  <td class=""><i title="{{bet.status}}" class="{{bet.status|iconify}}"></i><span class="bet_price">{{bet.cash}}</span></td>
			</tr>
		  {% empty %}
		  	<tr style="text-align:center">
		  		<h3>No bets placed. Get going, bettor!</h3>
		  	</tr>
		  {% endfor %}
			</tbody></table></div></div>
		<div class="row-fluid"><div class="span12 my-widget">
		<table id="Leaderboard" class='table table-condensed table-bordered'>
		  <thead>
				<tr><th colspan="3">Leader Board</th></tr>
		  </thead>
		  <tbody>
			<tr>
			  <td class="">Apr 20,2012</td>
			  <td class=""><a class="" href="">Highest Opening Partnership@MI on MI v CSK match</a></td>
			  <td class="">20(won)</td>
			</tr>
			<tr>
			  <td class="">Apr 20,2012</td>
			  <td class=""><a class="" href="">Highest Opening Partnership@MI on MI v CSK match</a></td>
			  <td class="">20(won)</td>
			</tr>
			<tr>
			  <td class="">Apr 20,2012</td>
			  <td class=""><a class="" href="">Highest Opening Partnership@MI on MI v CSK match</a></td>
			  <td class="">20(won)</td>
			</tr>
			<tr>
			  <td class="">Apr 20,2012</td>
			  <td class=""><a class="" href="">Highest Opening Partnership@MI on MI v CSK match</a></td>
			  <td class="">20(won)</td>
			</tr>
		  </tbody></table></div></div>
	</div>
	<div id="right_side" class="span6">
		<div class="row-fluid"><div class="span12 my-widget">
			<table id="recent_bets" class='table table-condensed table-bordered'>
			  <thead>
					<tr><th colspan="3">Live Matches</th></tr>
			  </thead>
			  <tbody>
				<tr>
				  <td class=""><a class="" href="">MI Vs CSK</a></td>
				  <td class="">20(won)</td>
				</tr>		
			  </tbody>
			</table>
		</div></div>
		<div class="row-fluid"><div class="span12 my-widget">
			<table id="recent_bets" class='table table-condensed table-bordered'>
			  <thead>
					<tr><th>Upcoming Matches</th></tr>
			  </thead>
			  <tbody>
			  {% for match in home_bet_data.upcoming %}
				<tr>
					<td>
					  <div class="row-fluid">
					  <div class="span9">{{match.match_name}} <br> {{match.date}}</div>
					  <div class="span3 place-bet-btn"><a class="btn btn-info" href="javascript:void(0)" onclick="show_bet_page(this, {{ match.id }})">Place Bets</a></div>
					  </div>
					</td>
				</tr>
			  {% empty %}
			  	<tr style="text-align:center">
			  		<td><h3>No bets available for upcoming matches</h3></td>
			  	</tr>
			  {% endfor %}
			  </tbody>
			</table>
		</div></div>
		
		<div class="row-fluid"><div class="span12 my-widget">
			<table id="recent_bets" class='table table-condensed table-bordered'>
			 <tbody>
			  <tr>
					<td>
					  <div class="row-fluid">
					  <div class="span9"><h4>Tournament Bets</h4></div>
					  <div class="span3 place-bet-btn"><a class="btn btn-info" href="javascript:void(0)" onclick="show_bet_page(this, -1)">Place Bets</a></div>
					  </div>
					</td>
				</tr>			  
			  </tbody>
			</table>
		</div></div>
		
	</div>	
</div>