<div style="margin-top:10px;margin-left:10px;">
			<div class="Module Module210" id="TopGamesInfo_Top10" style="background-color: white">
					<div class="ModuleHeaderSimple GreenHeader">
						<div class="ModuleHeaderWrapper">
							<div class="ModuleHeaderSimpleContent">Recent Bets</div>
							<div class="ModuleHeaderSubtitle">cash</div>							
						</div>
					</div>
					
					<table class="ModuleContent" id="TopGamesInfo_Top10_Table">      
						<tbody><tr>
						  <td class="ModulePositionCell">1.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">Bubble Town</a></td>
						  <td class="ModulePopCell">2242</td>
						</tr>
					  
						<tr>
						  <td class="ModulePositionCell">2.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">Mahjongg Dimensions</a></td>
						  <td class="ModulePopCell">1713</td>
						</tr>
					  
						<tr>
						  <td class="ModulePositionCell">3.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bejeweled3/default.htm?intgid=hp_populargames_3">Bejeweled 3</a></td>
						  <td class="ModulePopCell">1534</td>
						</tr>
					  
						<tr>
						  <td class="ModulePositionCell">4.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/jigsaw/default.htm?intgid=hp_populargames_4">Jigsaw</a></td>
						  <td class="ModulePopCell">1354</td>
						</tr>
					  
						<tr>
						  <td class="ModulePositionCell">5.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bookworm/default.htm?intgid=hp_populargames_5">Bookworm</a></td>
						  <td class="ModulePopCell">1111</td>
						</tr>
					  
					  <tr>
						<td class="PopulationListFooterCell" colspan="3">
						  <a class="LnkType1" href="/en/root/gamebrowser.htm?playmode=1&amp;genre=0&amp;q=freeonline&amp;intgid=hp_populargames_all">
							All Bets
						  </a>
						</td>
					  </tr>
					</tbody></table>
					
					
				</div>
				
				
			<div class="Module Module210" id="Module_MyGames" style="background-color: white"s>
					<div class="ModuleHeaderSimple GreenHeader">
						<div class="ModuleHeaderWrapper">
							<div class="ModuleHeaderSimpleContent">
								<ul class="nav nav-tabs">
								<li class="active"><a href="#">Friends</a></li>
								<li style="background-color:#EEEEEE; "><a href="#">AllPlayers</a></li>
								</ul>
							 </div>							
						</div>
					</div>
					<div id="MyGamesContents">
						<table class="ModuleContent" id="TopGamesInfo_Top10_Table">
      
						<tbody><tr>
						  <td class="ModulePositionCell">1.</td>
						  <td class="ModuleTitleCell">
						  <a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">
						  <img style="width:30px; height:30px;margin-right:10px;" src="http://graph.facebook.com/604385804/picture?type=square">Rahul</a></td>
						  <td class="ModulePopCell">2242</td>
						</tr>
					  
						<tr>
						  <td class="ModulePositionCell">2.</td>
						  <td class="ModuleTitleCell">
						  <a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">
						  <img style="width:30px; height:30px;" src="http://graph.facebook.com/604385804/picture?type=square">Sreenivas</a></td>
						  <td class="ModulePopCell">1713</td>
						</tr>
					  
						<tr>
						  <td class="ModulePositionCell">3.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bejeweled3/default.htm?intgid=hp_populargames_3">Bejeweled 3</a></td>
						  <td class="ModulePopCell">1534</td>
						</tr>
					  
						<tr>
						  <td class="ModulePositionCell">4.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/jigsaw/default.htm?intgid=hp_populargames_4">Jigsaw</a></td>
						  <td class="ModulePopCell">1354</td>
						</tr>
					  
						<tr>
						  <td class="ModulePositionCell">5.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bookworm/default.htm?intgid=hp_populargames_5">Bookworm</a></td>
						  <td class="ModulePopCell">1111</td>
						</tr>
					  
					  <tr>
						<td class="PopulationListFooterCell" colspan="3">
						  <a class="LnkType1" href="/en/root/gamebrowser.htm?playmode=1&amp;genre=0&amp;q=freeonline&amp;intgid=hp_populargames_all">
							All Bets
						  </a>
						</td>
					  </tr>
					</tbody></table>
					</div>
				</div>
			
		</div>
		
		<div class="Module Module210" id="Module_MyGames" style="margin-right:100px; float:right;margin-top:-392px; width:200px;" >
					<div class="ModuleHeaderSimple GrayHeader">
						<div class="ModuleHeaderWrapper">
							<div class="ModuleHeaderSimpleContent">LiveMatch</div>							
						</div>
					</div>
					<div id="MyGamesContents">
						<table class="ModuleContent" id="TopGamesInfo_Top10_Table">      
						<tbody>
						{% if home_bet_data.live %}						
							{% for match in home_bet_data.live %}
							<tr>
							  <td class="ModuleTitleCell"><a class="LnkType1" href="javascript:void(0);" onclick="ajax_post('betmodal')">MI Vs CSK</a></td>
							  <td class="ModulePopCell"><a class="btn btn-info btn-mini label-info" href="javascript:void(0);" onclick="ajax_post('betmodal')" style="margin-top:-6px;">Placebet</li></td>
							</tr>
							{% endfor %}
						{% else %}
							<tr>
							  <td class="ModuleTitleCell"><a class="LnkType1" href="javascript:void(0);">No Live Matches</a></td>							 
							</tr>
						{% endif %}
												  
																	  
					</tbody></table>
					</div>
		</div>
		
		<div class="Module Module210" id="Module_MyGames" style="margin-right:100px; float:right; margin-top:-280px; width:200px;" >
					<div class="ModuleHeaderSimple GrayHeader">
						<div class="ModuleHeaderWrapper">
							<div class="ModuleHeaderSimpleContent">UpcomingMatches {{ home_bet_data.upcoming|length }}</div>							
						</div>
					</div>
					<div id="MyGamesContents">
						<table class="ModuleContent" id="TopGamesInfo_Top10_Table">      
						<tbody>						
						{% for match in home_bet_data.upcoming %}
						<tr>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="">{{ match.name  }}</a></td>
						  <td class="ModulePopCell">{{ match.date|date:"M d,Y"  }}</td>
						</tr>
					    {% endfor %}					
					</tbody>
					</table>
					</div>
		</div>
		
		<div class="Module Module210" id="Module_MyGames" style="margin-right:100px; float:right; margin-top:-190px; width:200px;background-color: white">
					<div class="ModuleHeaderSimple GrayHeader">
						<div class="ModuleHeaderWrapper">
							<div class="ModuleHeaderSimpleContent">Tournament</div>
							<div class="ModuleHeaderSubtitle">cash</div>
						</div>
					</div>
					<div id="MyGamesContents">
						<table class="ModuleContent" id="TopGamesInfo_Top10_Table">
      
						<tbody><tr>
						  <td class="ModulePositionCell">1.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bubbletown/default.htm?intgid=hp_populargames_1">Bubble Town</a></td>
						  <td class="ModulePopCell">2242</td>
						</tr>
					  
						<tr>
						  <td class="ModulePositionCell">2.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/mahjonggdimensions/default.htm?intgid=hp_populargames_2">Mahjongg Dimensions</a></td>
						  <td class="ModulePopCell">1713</td>
						</tr>
					  
						<tr>
						  <td class="ModulePositionCell">3.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bejeweled3/default.htm?intgid=hp_populargames_3">Bejeweled 3</a></td>
						  <td class="ModulePopCell">1534</td>
						</tr>
					  
						<tr>
						  <td class="ModulePositionCell">4.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/jigsaw/default.htm?intgid=hp_populargames_4">Jigsaw</a></td>
						  <td class="ModulePopCell">1354</td>
						</tr>
					  
						<tr>
						  <td class="ModulePositionCell">5.</td>
						  <td class="ModuleTitleCell"><a class="LnkType1" href="/en/bookworm/default.htm?intgid=hp_populargames_5">Bookworm</a></td>
						  <td class="ModulePopCell">1111</td>
						</tr>
					  
					  <tr>
						<td class="PopulationListFooterCell" colspan="3">
						  <a class="LnkType1" href="/en/root/gamebrowser.htm?playmode=1&amp;genre=0&amp;q=freeonline&amp;intgid=hp_populargames_all">
							All Players
						  </a>
						</td>
					  </tr>
					</tbody></table>
					</div>
		</div>
		